@require '../../palette.styl'

.wave-block
  background-color $color-divider
  display flex
  flex-direction column
  justify-content center
  margin 0
  height 100%

  .amplitude
    display block
    margin auto 0
    padding 0
    min-height 2px
    background-color $color-accent
    transform scaleY(0.8)
    transition all 0.2s ease
    
  &:hover
    filter: brightness(1.05)

    .amplitude
      transform: scaleY(1.0)
      filter brightness(1.1)
      transition all 0.2s ease
      cursor pointer
