@require '../../palette.styl'

.track

  .controls
    width 90%
    padding 5%
    background-color color-dark
    color white
    
    button.remove
      color black
      
  .display
    width 100%

  .error
    color rgba(255, 0, 0, 0.8)