@require '../../palette.styl'

.add-track
  position relative
  overflow hidden
  background-color $color-dark
  color $color-white

  input[type=file]
    display block
    position absolute
    top 0
    left 0
    opacity 0
    
  label
    display flex
    height auto
    align-items center
    position relative
    color $color-white
    background-color $color-main
    border 0
    padding 0 10px
    height 100%
    transition all 0.2s ease

    &:hover
      cursor pointer
      transition all 0.2s ease
      filter: brightness(1.2)
      cursor pointer

    &:active
      filter: brightness(0.8)
      transition all 0.2s ease