@require '../../palette.styl'

.waveform
  display: flex
  align-items center
  padding 10px 0
  background-color color-divider
  height: 200px;

  .grain
    display inline-block
    flex-grow: 1
    min-height: 25%
    background-color color-accent
    margin 0
    transform: scaleY(0.8)
    transition all 0.2s ease
    
    &:hover
      transform: scaleY(1.0)
      filter: brightness(1.1)
      transition all 0.2s ease
      cursor pointer
