@require './palette.styl'

.header

  .main-bar
    display flex
    flex-shrink 0
    background-color $color-main
    color white
    
    h1
      flex-grow 1
      margin-left 10px
      margin-right 10px
      font-size 20px
      display inline-block
      text-align left

    button
      display flex
      align-items center
