@require './palette.styl'

.seek-bar
  display flex
  justify-content space-between
  background-color $color-main
  align-items stretch
  
  .view-controls
    display flex

    div
      display flex
      align-items center
      padding 14px 15px
      background-color $color-dark
      color $color-white
      font-family Courier, monospace

  .seek-controls
    display flex
    
    button
      display inline-block
