@require './palette.styl'

.settings
  background-color $color-lite
  transition all 0.6s ease
  overflow hidden

  fieldset
    display flex
    flex-grow 1
    border 0

.settings-opened
  display block
  opacity 1
  width auto
  transition all 0.6s ease

.settings-closed
  display inline-block
  opacity 0
  width 0
  transition all 0.6s ease