@require './palette.styl'

$main-color = rgba(255, 255, 255, 0.8)
$back-color = darken($color-dark, 5)

.time-bar
  display flex
  height 18px
  background-color $back-color
  color $main-color

  .slice
    font-family Courier, monospace
    overflow hidden
    border-left 1px solid $main-color
    font-size 10px
    min-width 0
    flex-grow 1
    flex-shrink 0
    padding 4px
