@require './palette.styl'

.wave-block
  position relative
  display flex
  margin 0
  padding 0
  background-color $color-divider
  flex-basis 0
  flex-direction column
  justify-content center
  height 100%
  overflow hidden
  background-color rgb(240, 240, 240)

  &.selected
    opacity 1.0

  &.unselected
    opacity 0.6

  .amplitude
    transition all 0.2s ease
    transform scaleY(0.8)
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    display block
    margin auto
    padding 0
    width 100%
    min-height 2px
    background-color $color-accent

  &.quiet
    background-color rgb(240, 230, 230)

  &:hover
    filter: brightness(1.05)

    .amplitude
      transform: scaleY(1.0)
      filter brightness(1.1)
      transition all 0.2s ease
      cursor pointer

.disabled

  background-color darken($color-divider, 4)

  &:hover
    filter: brightness(1)

  .amplitude
    background-color darken($color-divider, 20)

    &:hover
      filter: brightness(1)
