@require './palette.styl'

.wave-block
  position relative
  background-color $color-divider
  display flex
  flex-direction column
  justify-content center
  margin 0
  height 100%
  overflow hidden

  .note
    position absolute
    width 100%
    text-align center
    color darken($color-divider, 10)
    margin-top -20px

  .amplitude
    display block
    margin auto 0
    padding 0
    min-height 2px
    background-color $color-accent
    transform scaleY(0.8)
    transition all 0.2s ease
    width 100%
    
  &:hover
    filter: brightness(1.05)

    .amplitude
      transform: scaleY(1.0)
      filter brightness(1.1)
      transition all 0.2s ease
      cursor pointer

.filler

  &:hover
    filter: brightness(1)

  .amplitude
    background-color darken($color-divider, 5)

    &:hover
      filter: brightness(1)


.more

  .note
    overflow visible
    position absolute
    width 100%
    text-align center
    color rgba(0, 0, 0, 0.6)
    margin-top 0
    transform rotate(-90deg)

  .amplitude
    background-color rgba(0, 0, 0, 0)