@require './palette.styl'

.wave-block
  position relative
  background-color $color-divider
  display flex
  flex-direction column
  justify-content center
  margin 0
  padding 0
  height 100%
  overflow hidden
  background-color rgb(240, 240, 240)

  &.selected
    opacity 1.0

  &.unselected
    opacity 0.4

  .amplitude
    position absolute
    display block
    margin auto 0
    padding 0
    min-height 2px
    background-color $color-accent
    transform scaleY(0.8)
    transition all 0.2s ease
    width 100%

  &.quiet
    background-color rgb(240, 230, 230)

  &:hover
    filter: brightness(1.05)

    .amplitude
      transform: scaleY(1.0)
      filter brightness(1.1)
      transition all 0.2s ease
      cursor pointer

.disabled

  background-color darken($color-divider, 2)

  &:hover
    filter: brightness(1)

  .amplitude
    background-color darken($color-divider, 5)

    &:hover
      filter: brightness(1)
