@require '../../palette.styl'

.header
  
  h1
    flex-grow 1
    margin-left 10px
    margin-right 10px
    font-size 20px
    display inline-block
    text-align left

  button
    display flex
    align-items center
