@require '../../palette.styl'
$animation-speed = 1.5s
$number-of-bars = 10

@keyframes resize
  0%
    height 100%
    filter: brightness(1.5)

  50%
    height 1%

  100%
    height 100%


#loading
  position absolute
  display flex
  margin 50px auto
  width 100%
  height 100px
  align-items center

  filter grayscale(0.75) brightness(1.2)

  .bar
    background-color $color-accent
    margin-left 1px
    flex-grow 1
    animation-duration $animation-speed
    animation-iteration-count infinite
    animation-direction alternate
    animation-name resize
    animation-delay 1s
    for i in (0..20)
      &:nth-child({i})
        animation-delay i * 100ms