@require '../../palette.styl'

.time-bar
  display flex
  background-color darken($color-dark, 10)
  color white
  height 25px

  .slice
    min-width 0
    flex-grow 1
    flex-shrink 1
    overflow hidden
    border-left 1px solid white;