@require '../../palette.styl'

.track

  .controls
    display flex
    padding 0
    width 100%
    justify-content space-between
    align-items stretch
    background-color $color-dark
    color white

    button
      background-color mix($color-main, $color-dark)
    
    span.name
      display flex
      margin 0 15px
      align-items center
      overflow hidden
      
  .display
    width 100%
    background-color $color-divider
    overflow hidden

    .seek-line
      position relative
      float left
      display block
      margin 0
      padding 0
      width 1px
      height 200px
      background-color red
      opacity 0.5
      z-index 5

  .error
    color rgba(255, 0, 0, 0.8)