@require '../../palette.styl'

.track
  overflow hidden

  .display
    position relative
    width 100%
    background-color $color-divider
    overflow hidden
    max-width 100%

    & > div
      max-width 100%

    .seek-line
      position relative
      float left
      display block
      margin 0
      padding 0
      width 1px
      height 200px
      background-color red
      opacity 0.5
      z-index 5

  .error
    color rgba(255, 0, 0, 0.8)