// Colour Palette
$color-dark = #455A64
$color-main = #607D8B
$color-lite = #CFD8DC
$color-accent = #FFC107
$color-text-1 = #212121
$color-text-2 = #757575
$color-divider = rgb(240, 240, 240)
$color-white = rgb(255, 255, 255)