@require '../../palette.styl'

.seek-bar
  position fixed
  display block
  width 100%
  bottom 0
  left 0
  background-color $color-dark
  text-align center
  z-index 100
  
  .indicators
    div
      display inline-block
      margin 10px

  .control-bar
    button
      display inline-block
      margin 10px