@require '../../palette.styl'

.seek-bar
  background-color $color-dark
  text-align center
  
  .indicators
    div
      display inline-block
      margin 10px

  .control-bar
    button
      display inline-block
      margin 10px