@require '../../palette.styl'

.seek-bar
  display flex
  justify-content space-between
  background-color $color-main
  align-items center
  
  .indicators
    display inline-block

    div
      display inline-block
      padding 14px 15px
      height 100%
      color $color-white
      background-color $color-dark
      font-family Courier, monospace

  .control-bar
    display inline-block
    
    button
      display inline-block